*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(67, 103, 13);;
    font-family: Arial, Helvetica, sans-serif;
}
.sidebar{
    width: 300px;
    background: rgb(67, 103, 13);;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
}
.sidebar-nav{
    background-color: green;
    border-radius: 10px;
    padding: 20px 10px;
    margin-bottom: 10px;
}
.sidebar-nav ul{
    list-style: none;
}
.sidebar-nav ul li{
    padding: 10px 20px;
}
.sidebar-nav ul li a:hover{
    color: #5aff1e;
}
.sidebar-nav ul li a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 16px;
    font-weight: 600;
}
.library::after{
    content: '+';
    float: right;
    text-align: center;
    border-radius: 50%;
    font-size: 15px;
}
.create-playlist{
    background: rgb(67, 103, 13);
    padding: 30px 15px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.main-section{
    margin-left: 310px;
    background-color: green;
    height: 250vh;
}
.main-section .top-nav{
    padding: 20px 30px;
    background: green;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-section .top-nav .button{
    background: transparent;
    font-size: 22px;
    margin-right: 10px;
}
.top-nav .login-btn .sign-up{
    color: black;
    font-size: 16px;
    font-weight: 600;
    margin-right: 15px;
    border-radius: 10px;
    padding: 6px 15px;
}
.top-nav .login-btn .log-in{
    color: black;
    font-size: 16px;
    font-weight: 600;
    margin-right: 15px;
    padding: 6px 15px;
    border-radius: 10px;
}
.services{
    padding: 30px 50px;
}
.services .card{
    gap: 20px;
    overflow: hidden;
    background-color: green;
}
.services .card .item{
    width: 300px;
    min-width: 160px;
    background-color: #5aff1e;
    cursor: pointer;
    padding: 15px;
}
.services .card .item img{
    width: 100%;
}
.card{
    width: 300px;
}
.button{
    border-radius: 5px;
}
